.clear {clear: both;}

/* classes mobile */

nav.menu-mobile {
	display: none;
	float: right;
}

nav.menu-mobile h2 {
	cursor: pointer;
}

nav.menu-mobile ul{
	display: none;
	width: 100%;
	background: white;
	position: absolute;
	left: 0;
	top: 37px;
	z-index: 999;
	text-align: center;
}


element.style {
    display: block;
}
nav.menu-mobile ul {
    display: none;
    width: 100%;
    background: white;
    position: absolute;
    left: 0;
    top: 37px;
    z-index: 999;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Sans-serif;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	padding-inline-start: 40px;
}


nav.menu-mobile li{
	padding: 8px 0;
	border-bottom: 1px solid black;
}

nav.menu-mobile li.selected {
	background: rgb(225,225,225);
}

nav.menu-mobile a {
	display: block;
	color: black;
    text-decoration: none;
}