.parceiros {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.parceiros p {
    margin-left: 90px;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

.imagens {
    margin: 50px;
    width: 250px;
    display: inline-block;    
}
